@using ServiceLayer.ViewModels.IdentityViewModels
@model ConfrimViewModel
@{
    ViewData["Title"] = "تایید شماره موبایل";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main class="main">
    <nav aria-label="breadcrumb" class="breadcrumb-nav border-0 mb-0">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a>خانه</a></li>
                <li class="breadcrumb-item active" aria-current="page">احزار هویت</li>
            </ol>
        </div><!-- End .container -->
    </nav><!-- End .breadcrumb-nav -->

    <div class="login-page bg-image pt-8 pb-8 pt-md-12 pb-md-12 pt-lg-17 pb-lg-17" style="background-image: url('templates/static/images/backgrounds/login-bg.jpg')">
        <div class="container">
            <div class="form-box">
                <div class="form-tab">
                    <ul class="nav nav-pills nav-fill" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active">تایید شماره موبایل</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane fade active show">
                            <form method="post">
                                <input type="hidden" asp-for="PhoneNumber" value="@ViewBag.PhoneNumber" />
                                <div class="form-group">
                                    <label>کد تایید *</label>
                                    <input asp-for="Code" type="text" class="form-control" required="">
                                    <span asp-validation-for="Code" class="text-danger"></span>
                                </div>
                                <div class="form-footer">
                                    <button type="submit" class="btn btn-outline-primary-2">
                                        <span>تایید</span>
                                        <i class="icon-long-arrow-left"></i>
                                    </button>
                                </div>
                            </form>
                        </div><!-- .End .tab-pane -->
                    </div><!-- End .tab-content -->
                </div><!-- End .form-tab -->
            </div><!-- End .form-box -->
        </div><!-- End .container -->
    </div><!-- End .login-page section-bg -->
</main>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}